.home {
  background-color: #f6f6f6;
  text-align: center;
}

.card {
  position: relative;
  display: block;
  padding: 0;
  border-radius: 2px;
  overflow: hidden;
  min-width: 15rem;
  max-width: 35rem;
  min-height: 15rem;
  transition: box-shadow 0.4s ease;
  border-radius: 0;
  margin: 1px;
  background-color: #fff;
  border: solid #f6f6f6;
  border-width: 5px;
}
.card:hover {
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.75);
}
.cardContent {
  margin: 1em;
  text-align: center;
}
.cardTitle {
  display: inline-block;
  margin-bottom: 0.5em;
  font-size: 1.6rem;
  cursor: pointer;
  transition: color 0.2s ease;
  text-align: center;
}
.cardTitle:hover {
  color: #3b55cf;
}

.cardContainer {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.noPost {
  text-align: center;
}
.cardDescription {
  word-wrap: break-word;
}
.container {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
}
@media only screen and (max-width: 900px) {
  .container {
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 700px) {
  .container {
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 650px) {
  .container {
    grid-template-columns: 1fr;
    justify-content: center;
    margin: 0 auto;
  }
  .cardContent {
    margin: 2em;
    text-align: center;
  }
}
